* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

main{
  width: 80%;
  /* background-color: darksalmon; */
  margin: 0 auto;
}
.container {
  width: 100%;
  /* margin: 0 auto; */
  background-color: antiquewhite;
}

button:hover {
  cursor: pointer;
}

.submit{
  
  margin-top: 30px;
  outline:none;
  background: none;
  border:none;
}

svg{
  width: 40px;
  height: 40px;
}


h1{
  background-color: blanchedalmond;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

li, img {
  max-width: 500px;
}


strong{
font-weight: bold;
}



.error-message {
  color: red;
}

.hidden {
display: none;
}



.group{
  /* width: 100%; */
}

.main-group{
  padding: 10px;
}

.main-group p{
  margin-bottom: 7px;
}

.search-item{
  width: 80%;
}
.city-group input{
  width: 100%;
}

.radius-group input{
  width: 100%;
}

.limit-group input{
  width: 100%;
  /* margin-top: 0; */
}

.name-group input{
  width: 100%;
}

.find-item{
  /* margin-top:10px; */
}

.city-group .item{

}


.results-container{
  width: 100%;
  background-color: darkkhaki;
  /* margin:0 auto; */
  
}

.results-container h2{
  padding-top: 15px;
  margin-top:0;
  margin-bottom:0;
}

#js-error-message{
  /* margin-top: 0; */
  text-align: center;
}

#results-list img{
  width:400px;
  height: 300px;
}

form{
  width: 100%;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}






@media only screen and (min-width: 450px) {
  
  
  .item-margin-right{
    margin-right: 10px;
  }

  main{
    width:70%;
  }


  

  .search-item{
    width: 100%;
  }
  
}

.map {
  width: 100%;
  height: 400px;
  
}
@media only screen and (min-width: 800px) {
   main{
     width: 60%;
   }
  .city-item{
    margin-right:10px;
    
  }
  .state-item{
    margin-left: 10px;
  } 
  
  .city-group .item{
    width: 50%;
  }
}







