* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

main{
  width: 80%;
  margin: 0 auto;
}


h1{
  text-align: center;
  
}

strong{
font-weight: bold;
}


.hidden {
display: none;
}

/* main group section */
.container {
  width: 100%;
}

form{
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.submit{
  margin-top: 30px;
  outline:none;
  background: none;
  border:none;
}

svg{
  width: 40px;
  height: 40px;
}

.main-group{
  padding: 10px;
}

.main-group p{
  margin-bottom: 7px;
}

.search-item{
  width: 80%;
}
.city-group input{
  width: 100%;
}

.radius-group input{
  width: 100%;
}

.limit-group input{
  width: 100%;
  
}

.name-group input{
  width: 100%;
}
/* error section */
.error-message {
  color: red;
}

/* results section */

.results-container{
  width: 100%;
}

.results-container h2{
  padding-top: 15px;
  margin-top:0;
  margin-bottom:0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

#js-error-message{
  text-align: center;
}

#results-list img{
  width:400px;
  height: 300px;
}




@media only screen and (min-width: 450px) {
  
  .item-margin-right{
    margin-right: 10px;
  }

  main{
    width:70%;
  }


  .search-item{
    width: 100%;
  }
  
}

@media only screen and (min-width: 800px) {

   main{
     width: 60%;
   }
  .city-item{
    margin-right:10px;
    
  }
  .state-item{
    margin-left: 10px;
  } 
  
  .city-group .item{
    width: 50%;
  }
}







